<div class="row">
	<aside class="d-none d-sm-block col-md-3">
		<h2>Basic Information</h2>
		<p>Class Time: MW 11:00-12:20, DBH 1423</p>
		<p>Slack: <a href="https://uci-inf295-wi20.slack.com">https://uci-inf295-wi20.slack.com</a></p>
		<p>Email: <a href="epstein@ics.uci.edu">epstein@ics.uci.edu</a></p>
		<p>Office hours: By appointment, and as scheduled for project meetings</p>
		<h2>Course Staff</h2>
		<a href="http://depstein.net">Professor Daniel Epstein</a>
	</aside>
	<main class="col-md-9 col-12">
	   <p class="tbd">All material subject to change, particularly prior to the start of the quarter.</p>
	   <p>Welcome! Personal informatics systems help people collect personally relevant information for the purpose of self-reflection and gaining self-knowledge. These systems are increasingly ubiquitous, supporting goals such as self-improvement (e.g., weight loss, increased exercise, improved productivity), satisfying curiosity (e.g., seeing spending patterns or places visited visualized), discovering new content (e.g., music or movie tracking to feed a recommender system), connecting with friends, or simply for keeping a record for the future.</p>
	   <p>These advances create new challenges for collecting, integrating, sharing, reflecting, and acting on large amounts of personal data. The tools for these activities must also fit into the everyday lives and routines of the people that use them. This quarter, we will review progress and discuss current frontiers in each of these challenges.</p>
	   <p>Each week will consistent of paper reading, presentation, and discussion. In contrast to the highly-curated presentation of content in a more introductory course, students will be expected to contribute to all aspects of the definition and content of this course. This will include identifying relevant content and contributing to discussion of that content.</p>
	   <p>Over the quarter, students will develop an group research project in the area of personal informatics and contribute to a mapping review of the literature to date.</p>
	   <p>We will emphasize open discussion and feedback in all aspects of the course.</p>
	   <h2>Readings</h2>
	   <p>Assigned readings will explore several dimensions of personal informatics. In-class discussion is a critical component of this course. To maximize the quality and effectiveness of that discussion, every participant is expected to read the assigned readings before class. This will typically mean two full-length research papers per class.</p>
	   <p>Any set of readings is inherently incomplete, and part of the value of this course is assembling diverse perspectives on personal informatics. We will therefore encourage posting of additional resources, including additional resources that participants surface in the course of discussion.</p>
	   <h2>Reading queries</h2>
	   <p>To help facilitate useful in-class discussion, you are expected to post at least one question or comment on the topic discussed to Slack by midnight the day before. Simply criticizing the details of research often leads to an underwhelming discussion. We encourage participants to draw upon their backgrounds to surface more interesting potential discussions. Potential topics for discussion might be inspired by considering:</p>
	   <ul>
	   	<li>What new questions or research agendas are suggested by this research?</li>
	   	<li>How might this research have informed some other research you have seen?</li>
	   	<li>If you had conducted this research, what would you have done differently?</li>
	   </ul>
	   <p>Importantly, we do not want to have the discussion on Slack. The goal of surfacing potential discussion topics is to then have the actual discussion in-class.</p>
	   <p>All of your classmates will have read the paper, so do not simply post a summary of the paper. Participants are expected to post one potential discussion topic per day, not necessarily one per paper. Participants are welcome and encourage to submit multiple potential topics, but this is not expected.</p>
	   <p>Reading queries will be graded on a binary scale.</p>
	   <ul>
	      <li>0: If you did not participate.</li>
	      <li>1: If you did participate.</li>
	   </ul>
	   <p>You may miss up to one reading query without penalty.</p>
	   <p>Reading queries are due at 11:59pm the night before each class meeting. This ensures time the next day to review questions before class. Submitting the day of class, just before class, or in class is therefore unacceptable, risking zero credit. But feel free to continue a discussion after this, even after class.</p>
	   <h2>Reading presentations</h2>
	   <p>One participant will sign up to present the day's assigned readings. Discussion of each reading will begin with this presentation. Unless advised otherwise, presentation should focus on the context of an assigned reading. This might include:</p>
	   <ul>
	   	<li>Information about the researchers involved in the work.</li>
	   	<li>Key research that preceded or informed the assigned reading.</li>
	   	<li>Key research that followed or was informed by the assigned reading.</li>
	   	<li>A contrast between the assigned reading and other contemporary alternatives.</li>
	   </ul>
	   <p>All of your classmates will have read the paper, so do not simply present a summary of the paper.</p>
	   <p>We welcome and encourage you to seek guidance or feedback on your overall approach to the presentation. It is probably not time effective to seek feedback on detailed minutia of your presentation. For calibration, we expect students to spend 60 to 90 minutes researching the context of a paper. We then expect presentations will be 5 to 10 minutes.</p>
	   <p>As part of preparation, the presenter should share any additional resources or slides they create.</p>
	   <h2>In-class time</h2>
	   <p>Class will generally be a mix of reading presentations, discussion, and activities. In-class time aims to be interactive and participatory.</p>
	   <h2>Mapping review (optional)</h2>
	   <p>As an optional component of this class, you can participate in an ongoing mapping review of the personal informatics literature and be a co-author on a research paper submission. Participation will involve reading recent research papers, beyond those required for each class, and coding them according to dimensions like type of research contribution and methods used. Although some work on this project can be conducted in-class, you will need to code many research papers on your own. More details about this project will be discussed in class.</p>
	   <h2>Project</h2>
	   <p>A course project will be a major component of your work. Details about the project are <a href="./project">here</a>. Dates are also linked from the course calendar.</p>
	   <h2>Grading</h2>
	   <p>Grades will roughly correspond to:</p>
	   <ul>
	      <li>50% Group project</li>
	      <li>20% Reading queries</li>
	      <li>10% Presentation of a day's readings</li>
	      <li>10% Participation</li>
	      <li>10% Optional participation in mapping review (if not participating, group project will be 60%)</li>
	   </ul>
	   <p>Most of the grading in this course is necessarily subjective. We will attempt to communicate expectations and feedback throughout the course, but it is your responsibility to communicate with us if you would like guidance in this regard.</p>
	   <h2>Repository</h2>
	   <p>This website is live on GitHub: <a href="https://github.com/uci-inf-295/inf295-wi20" target="_blank">https://github.com/uci-inf-295/inf295-wi20</a></p>
	   <p>You can create issues if information is unclear, incorrect, or out-of-date. You can even submit a pull request to resolve them yourself!</p>
	   <h2>Acknowledgments</h2>
	   <p>This course draws on materials from the <a href="https://courses.cs.washington.edu/courses/cse599p1/16sp/index.html">personal informatics</a> course at the University of Washington, taught by <a href="https://homes.cs.washington.edu/~jfogarty/">James Fogarty</a> and <a href="http://www.smunson.com/">Sean Munson</a>. Many thanks!</p>
	</main>
</div>